@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');
body {
    background-color: #c8d6be;
}
h1 {
    font-family: "Walter Turncoat", cursive;
    font-size: 4rem;
}
p small {
    font-family: "Walter Turncoat", cursive;
}

.card {
    background-color: #ebecdf;
    width: 18rem;
    padding: 1rem;
    margin: 2rem;
}
.card input {
    margin-bottom: 1em;
}
button {
    background: #ebecdf;
}

button.deleteCard {
    text-align: center;
    width: 30px;
    margin-bottom: 1rem;
    position: absolute;
    top: -10px;
    right: -10px;
}