---
import CardList from '../components/CardList.tsx';
import 'bootstrap/dist/css/bootstrap.min.css';
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class="mb-5 text-center mt-5"><h1 class="d-inline">I Never Get Sick </h1><small>_(´ཀ`」 ∠)_</small></div>
		<div class="container"<p class="mb-5 text-center">Neither do I, but here we are...Add your medication below, and the frequency your doctor told you to take them. This site uses local storage, I'm guessing you'll be on that antibiotic for about a week, your browser can probably remember your medication list for that long, even if you refresh. Feel better soon</p></div>
		<CardList client:load />
	</body>
</html>
